<section class="vh-100 gradient-custom" *ngIf="editPro">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-xs-8 col-md-8 col-lg-8 col-xl-8">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-1 mt-md-1 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">EDITAR PROYECTO</h2>

              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                  <label for="nombrePro">Modificar Institución</label>
                  <input type="text" class="form-control" id="nombrePro" name="nombrePro" [(ngModel)]="editPro.nombrePro" required>
                
                  <label for="descripcionPro">Modificar Tarea</label>
                  <textarea rows="3" class="form-control" id="descripcionPro" name="descripcionPro" [(ngModel)]="editPro.descripcionPro" required></textarea>

                  <label for="fechaPro">Modificar Institución</label>
                  <input type="text" class="form-control" id="fechaPro" name="fechaPro" [(ngModel)]="editPro.fechaPro" required>

                  <label for="imagenPro">Modificar Institución</label>
                  <input type="text" class="form-control" id="imagenPro" name="imagenPro" [(ngModel)]="editPro.imagenPro" required>
                </div>
                <button class="btn btn-light">
                  ACTUALIZAR PROYECTO
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>