<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-xs-8 col-md-8 col-lg-8 col-xl-8">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-1 mt-md-1 pb-5">
              <h2 class="fw-bold mb-2">NUEVO PROYECTO</h2>

              <form id="formpro" (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                  <label for="nombrePro">Nombre del Proyecto</label>
                  <input type="text" class="form-control" id="nombrePro" name="nombrePro" [(ngModel)]="nombrePro" required>
                </div>
                <div class="form-group">
                  <label for="descripcionPro">Detalle</label>
                  <textarea rows="3" type="text" class="form-control" id="descripcionPro" name="descripcionPro" [(ngModel)]="descripcionPro" required></textarea>
                </div>
                <div class="form-group">
                  <label for="fechaPro">Año de Realización</label>
                  <input type="text" class="form-control" id="fechaPro" name="fechaPro" [(ngModel)]="fechaPro" required>
                </div>
                <div class="form-group">
                  <label for="imagenPro">Imagen del Proyecto</label>
                  <input type="text" class="form-control" id="imagenPro" name="imagenPro" [(ngModel)]="imagenPro" required>
                </div>
                <button class="btn btn-light">
                  CREAR NUEVO PROYECTO
                </button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

