<div class="redes" id="bloque">
  <a href="https://instagram.com/marianus_ar" target="_blank"><img src="../../../assets/instagram.png" class="social"></a>
  <a href="https://www.linkedin.com/in/mariano-roberto-nigro-23356023a/" target="_blank"><img src="../../../assets/linkedin.png" class="social"></a>
  <a href="https://twitter.com/marianus_ar" target="_blank"><img src="../../../assets/twitter.png" class="social"></a>
  <a href="https://t.me/marianus_ar" target="_blank"><img src="../../../assets/telegram.png" class="social"></a>
  <a href="https://github.com/marianusmac" target="_blank"><img src="../../../assets/github.png" class="social"></a>
  <button type="button" class="btn" (click)="login()" *ngIf="!isLogged">
  <span><i class="fa-thin fa-right-to-bracket"></i>LogIn</span>
</button>
  <button type="button" class="btn" (click)="onLogOut()" *ngIf="isLogged">
  <span><i class="fa-thin fa-right-from-bracket"></i>LogOut</span>
</button>
</div>
